@using YieldQuerySystem.Models.ViewModel
@model DailyYieldSearchViewModel

<div class="top-area">
    @*@using (Html.BeginForm("Upload", "Import", FormMethod.Post, new {enctype="multipart/form-data"}))*@
    <td>
        <b><lebel class="txt">Plant:</b>
    </td>
    <td>
        <select id="Plant" style="width: 240px; height: 30px;">
            <option selected></option>
            @*@Html.DropDownListFor(model=>model.PlantList,new SelectList(ModelPlant,Value,Text))*@
            @foreach (var item in Model.PlantList)
            {
                <option value=@item>@item</option>

            }
        </select>
    </td>

    <td>
        <b><lebel class="txt">Cust2Code:</b>
    </td>
    <td>
        <select id="Cust2Code" style="width: 240px; height: 30px;">
            <option selected></option>
            @foreach (var item in Model.Cust2CodeList)
            {
                <option value=@item>@item</option>

            }
        </select>
    </td>

    <td class="TDCust3Code">
        <b><lebel class="txt">Cust3Code:</b>
    </td>
    <td class="TDCust3Code">
        <select id="Cust3Code" style="width: 240px; height: 30px;">
            <option selected></option>
            @foreach (var item in Model.Cust3CodeList)
            {
                <option value=@item>@item</option>

            }
        </select>
    </td>

    <td>
        <b><lebel class="txt">PKG Code:</b>
    </td>
    <td>
        <select id="PkgCode" style="width: 240px; height: 30px;">
            <option selected></option>
            @foreach (var item in Model.PkgCodeList)
            {
                <option value=@item>@item</option>

            }
        </select>
    </td>

    <td>
        <b><lebel class="txt">StageCode:</b>
    </td>
    <td>
        <select id="StageCode" style="width: 240px; height: 30px;">
            <option selected></option>
            @foreach (var item in Model.StageCodeList)
            {
                <option value=@item>@item</option>

            }
        </select>
    </td>

    <td>
        <b><lebel class="txt">Device Name:</b>
    </td>
    <td>
        <input type="text" id="txtDeviceName" name="txtDeviceName" style="width: 240px; height: 30px;">
    </td>

    <td>
        <b><lebel class="txt">Date:</lebel></b>
    </td>
    <td>
        <input id="txtDateStart" class="from-control hasDatepicker" type="date" style="width: 240px; height: 30px;">
        <span class="txt"> to </span>
        <input id="txtDateEnd" class="from-control hasDatepicker" type="date" style="width: 240px; height: 30px;">
    </td>

    <button id="buttonQuery" class="button1">Query</button>
</div>
